#page-landing {
    width: 100vw;   
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--color-page-background); 
    overflow: auto;
    
}

.logo-container {
    display: flex;
    margin-top: 2.5rem;
    align-items: center;
}

.logo-container img {
   
    height: 13rem;
}

.textLogin{
    margin-right: 2rem;
     /* text-shadow:black 1px 4px;  */
    max-width: 200px;
   
}

.hero-image {
    width: 100%;
}

.title-login {
    font: 25 2rem Bangers;
    padding: 4px;

    display: flex;
   
    align-items: center;
    justify-content: space-between;
    margin-top: 1.8rem;
        
}

/* .subTile {
    font: 500 1.6rem Poppins;
    color: var(--color-input-background) ;
} */


#form-login {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#form-login .input-block {
    position: relative;
}

#form-login .input-block + .input-block{
    margin-top: 1.3rem;
}

#form-login .input-block label {
    font-size: 1.4rem;
}

#form-login .input-block input {
    width: 100%;
    height: 5rem;
    margin-top: 0.4rem;
    border-radius: 0.8rem;
    background-color: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 1.6rem;
    font: 200 1.6rem Archivo; 
}

#form-login .input-block:focus-within::after{
    width: calc(100% - 3.2rem);
    height: 2px;
    content: '';
    background-color:black;
    position: absolute;
    left: 1.6rem;
    right: 1.6rem;
    bottom: 0;
}

#form-login a {
    text-decoration: none;
    font-size: 1.1;
}

.submit-login{
    color: var(--color-button-background) ;
    margin-bottom: 2rem;
}

.submit-login button {
    width: 100%;
    height: 5rem;
    border-radius: 0.8rem;
    background-color: var(--color-button-background);
    font: 2.0 Archivo;
    color:white ;
    margin-top: 1rem;
    border: 0 ;
    transition: background-color 0.2s;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-login button:hover {
    background-color:var(--color-button-background-hover);
}

.register {
    padding-bottom: 10rem;
}

@media(min-width:1100px){
    #page-landing-content {
        max-width: 1100px;

        display: grid;
        grid-template-rows:230px 1fr 1fr ;
        grid-template-columns: 2fr   1fr;
        grid-template-areas:
        "header header" 
        "logo  form"
        "logo form";
       height: 100vh;
       
    }

    .title-login {
        grid-area: header ;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2rem;
        font-size: 2.8rem;
    }

    .logo-container img {
        grid-area: logo;
        align-items: center;
        height: 28rem;
    }

    #form-login {
        
        grid-area: form;
        align-items: flex-end;
    }
}